
/* 12号位置摊牌 */
.card1251{left:9vh;top:62%;}
.card1241{left:11vh;top:62%;}
.card1231{left:13vh;top:62%;}
.card1221{left:15vh;top:62%;}
.card1211{left:17vh;top:62%;}

/********************************* 翻牌   ***********************************************/
.cardOver{position: absolute;height: 100%;top:0;}
.cardOver .cardResult{position: relative;height: 100%;}
.cardOver .name{color: #fff;font-size: 10px;text-align: center;line-height: 16px;position: absolute;top: 15%;width: 100%;left:0;}

.cardOver .openCard{position: absolute;width: 100%;top: 34%;left: 15%;}
.cardOver .cards{width: 4.6vh;height: 6.4vh;position: absolute;}
.cardOver .face{width: 4.6vh;height: 6.4vh;border-radius:3px;position: absolute;-webkit-backface-visibility: hidden;backface-visibility: hidden;-webkit-transition:all .6s;transition: all .6s;}
.cardOver .front{background: url("../images/common/card.png");background-size:4.6vh 6.4vh;z-index: 92;}
.cardOver .back{background:url("../images/common/cards3.jpg");-webkit-transform:rotateY(-180deg);transform:rotateY(-180deg);z-index: 91;background-size:59.8vh 31.9vh;box-shadow:1px 1px 5px #333;}
/*牌面定位样式*/
.cardOver .card{background: url("../images/common/card.png");background-size:4.6vh 6.4vh;}
.cardOver .cardundefined{background: url("../images/common/card.png");background-size:4.6vh 6.4vh;}
.cardOver .card-1{background: url("../images/common/card.png");background-size:4.6vh 6.4vh;}


.cardOver .cardA0{background-position: -59.8vh 0;}
.cardOver .cardB0{background-position: -64.4vh 0;}
.cardOver .cardC0{background-position: -59.8vh -6.4vh;}
.cardOver .cardD0{background-position: -64.4vh -6.4vh;}
.cardOver .cardE0{background-position: -59.8vh -12.8vh;}
.cardOver .cardF0{background-position: -64.4vh -12.8vh;}
.cardOver .cardG0{background-position: -59.8vh -19.2vh;}
.cardOver .cardH0{background-position: -64.4vh -19.2vh;}

.cardOver .cardA1{background-position: 0 -19.2vh;}
.cardOver .cardA2{background-position: -4.6vh -19.2vh;}
.cardOver .cardA3{background-position: -9.2vh -19.2vh;}
.cardOver .cardA4{background-position: -13.8vh -19.2vh;}
.cardOver .cardA5{background-position: -18.4vh -19.2vh;}
.cardOver .cardA6{background-position: -23vh -19.2vh;}
.cardOver .cardA7{background-position: -27.6vh -19.2vh;}
.cardOver .cardA8{background-position: -32.2vh -19.2vh;}
.cardOver .cardA9{background-position: -36.8vh -19.2vh;}
.cardOver .cardA10{background-position: -41.4vh -19.2vh;}
.cardOver .cardA11{background-position: -46vh -19.2vh;}
.cardOver .cardA12{background-position: -50.6vh -19.2vh;}
.cardOver .cardA13{background-position: -55.2vh -19.2vh;}
.cardOver .cardB1{background-position: 0 -12.8vh;}
.cardOver .cardB2{background-position: -4.6vh -12.8vh;}
.cardOver .cardB3{background-position: -9.2vh -12.8vh;}
.cardOver .cardB4{background-position: -13.8vh -12.8vh;}
.cardOver .cardB5{background-position: -18.4vh -12.8vh;}
.cardOver .cardB6{background-position: -23vh -12.8vh;}
.cardOver .cardB7{background-position: -27.6vh -12.8vh;}
.cardOver .cardB8{background-position: -32.2vh -12.8vh;}
.cardOver .cardB9{background-position: -36.8vh -12.8vh;}
.cardOver .cardB10{background-position: -41.4vh -12.8vh;}
.cardOver .cardB11{background-position: -46vh -12.8vh;}
.cardOver .cardB12{background-position: -50.6vh -12.8vh;}
.cardOver .cardB13{background-position: -55.2vh -12.8vh;}
.cardOver .cardC1{background-position: 0 0;}
.cardOver .cardC2{background-position: -4.6vh 0;}
.cardOver .cardC3{background-position: -9.2vh  0;}
.cardOver .cardC4{background-position: -13.8vh 0;}
.cardOver .cardC5{background-position: -18.4vh 0;}
.cardOver .cardC6{background-position: -23vh 0;}
.cardOver .cardC7{background-position: -27.6vh 0;}
.cardOver .cardC8{background-position: -32.2vh 0;}
.cardOver .cardC9{background-position: -36.8vh 0;}
.cardOver .cardC10{background-position: -41.4vh 0;}
.cardOver .cardC11{background-position: -46vh 0;}
.cardOver .cardC12{background-position: -50.6vh 0;}
.cardOver .cardC13{background-position: -55.2vh 0;}
.cardOver .cardD1{background-position: 0 -6.4vh;}
.cardOver .cardD2{background-position: -4.6vh -6.4vh;}
.cardOver .cardD3{background-position: -9.2vh -6.4vh;}
.cardOver .cardD4{background-position: -13.8vh -6.4vh;}
.cardOver .cardD5{background-position: -18.4vh -6.4vh;}
.cardOver .cardD6{background-position: -23vh -6.4vh;}
.cardOver .cardD7{background-position: -27.6vh -6.4vh;}
.cardOver .cardD8{background-position: -32.2vh -6.4vh;}
.cardOver .cardD9{background-position: -36.8vh -6.4vh;}
.cardOver .cardD10{background-position: -41.4vh -6.4vh;}
.cardOver .cardD11{background-position: -46vh -6.4vh;}
.cardOver .cardD12{background-position: -50.6vh -6.4vh;}
.cardOver .cardD13{background-position: -55.2vh -6.4vh;}
.cardOver .cardE1{background-position: 0 -25.6vh;}
.cardOver .cardE2{background-position: -4.6vh -25.6vh;}
.cardOver .cardE3{background-position: -9.2vh -25.6vh;}
.cardOver .cardE4{background-position: -13.8vh -25.6vh;}
.cardOver .cardE5{background-position: -18.4vh -25.6vh;}
.cardOver .cardE6{background-position: -23vh -25.6vh;}
.cardOver .cardE7{background-position: -27.6vh -25.6vh;}
.cardOver .cardE8{background-position: -32.2vh -25.6vh;}
.cardOver .cardE9{background-position: -36.8vh -25.6vh;}
.cardOver .cardE10{background-position: -41.4vh -25.6vh;}
.cardOver .cardE11{background-position: -46vh -25.6vh;}
.cardOver .cardE12{background-position: -50.6vh -25.6vh;}
.cardOver .cardE13{background-position: -55.2vh -25.6vh;}

.cardOver .card-flipped .front{z-index: 91;-webkit-transform: rotateY(180deg);transform: rotateY(180deg);}
.cardOver .card-flipped .back{z-index: 92;-webkit-transform: rotateY(0deg);transform: rotateY(0deg);}

/*40 自己牌尺寸 57*/
.myCards {position: absolute;width: 100%;top: 79%;}
.myCards .winText{position: absolute;width: 100%;top:-50px;}
.myCards .winText img{width: 120%;margin-left: -10%;}
.myCards .cards{width: 6.8vh;height: 9.656vh;position: absolute; }
.myCards .face{width: 6.8vh;height: 9.656vh;border-radius:4px;position: absolute; transform-style: preserve-3d;-webkit-backface-visibility: hidden;backface-visibility: hidden;-webkit-transition:all .6s; transition:all .6s;}
.myCards .front{background: url("../images/common/card.png");-webkit-transform: rotateY(0deg);transform: rotateY(0deg);background-size:6.8vh 9.656vh;z-index: 92;}
/*519 228*/
.myCards .back{background:url("../images/common/cards3.jpg");-webkit-transform: rotateY(180deg);transform: rotateY(180deg);z-index: 91;background-size:88.4vh 48.11vh;box-shadow:1px 1px 5px #333;}

.myCards .card-flipped .front{z-index: 91;-webkit-transform: rotateY(180deg);transform: rotateY(180deg);}
.myCards .card-flipped .back{z-index: 92;-webkit-transform: rotateY(0deg);transform: rotateY(0deg);} 

/*牌面定位样式*/
.myCards .card{background: url("../images/common/card.png");background-size:6.8vh 9.656vh;}
.myCards .cardundefined{background: url("../images/common/card.png");background-size:6.8vh 9.656vh;}
.myCards .card-1{background: url("../images/common/card.png");background-size:6.8vh 9.56vh;}


.myCards .cardA0{background-position: -88.4vh 0;}
.myCards .cardB0{background-position: -95.2vh 0;}
.myCards .cardC0{background-position: -88.4vh -9.56vh;}
.myCards .cardD0{background-position: -95.2vh -9.56vh;}
.myCards .cardE0{background-position: -88.4vh -19.12vh;}
.myCards .cardF0{background-position: -95.2vh -19.12vh;}
.myCards .cardG0{background-position: -88.4vh -28.68vh;}
.myCards .cardH0{background-position: -95.2vh -28.68vh;}


.myCards .cardA1{background-position: 0 -28.968vh;}
.myCards .cardA2{background-position: -6.8vh -28.968vh;}
.myCards .cardA3{background-position: -13.6vh -28.968vh;}
.myCards .cardA4{background-position: -20.4vh -28.968vh;}
.myCards .cardA5{background-position: -27.2vh -28.968vh;}
.myCards .cardA6{background-position: -34vh -28.968vh;}
.myCards .cardA7{background-position: -40.8vh -28.968vh;}
.myCards .cardA8{background-position: -47.6vh -28.968vh;}
.myCards .cardA9{background-position: -54.4vh -28.968vh;}
.myCards .cardA10{background-position: -61.2vh -28.968vh;}
.myCards .cardA11{background-position: -68vh -28.968vh;}
.myCards .cardA12{background-position: -74.8vh -28.968vh;}
.myCards .cardA13{background-position: -81.6vh -28.968vh;}
.myCards .cardB1{background-position: 0 -19.312vh;}
.myCards .cardB2{background-position: -6.8vh -19.312vh;}
.myCards .cardB3{background-position: -13.6vh -19.312vh;}
.myCards .cardB4{background-position: -20.4vh -19.312vh;}
.myCards .cardB5{background-position: -27.2vh -19.312vh;}
.myCards .cardB6{background-position: -34vh -19.312vh;}
.myCards .cardB7{background-position: -40.8vh -19.312vh;}
.myCards .cardB8{background-position: -47.6vh -19.312vh;}
.myCards .cardB9{background-position: -54.4vh -19.312vh;}
.myCards .cardB10{background-position: -61.2vh -19.312vh;}
.myCards .cardB11{background-position: -68vh -19.312vh;}
.myCards .cardB12{background-position: -74.8vh -19.312vh;}
.myCards .cardB13{background-position: -81.6vh -19.312vh;}
.myCards .cardC1{background-position: 0 0;}
.myCards .cardC2{background-position: -6.8vh 0;}
.myCards .cardC3{background-position: -13.6vh 0;}
.myCards .cardC4{background-position: -20.4vh 0;}
.myCards .cardC5{background-position: -27.2vh 0;}
.myCards .cardC6{background-position: -34vh 0;}
.myCards .cardC7{background-position: -40.8vh 0;}
.myCards .cardC8{background-position: -47.6vh 0;}
.myCards .cardC9{background-position: -54.4vh 0;}
.myCards .cardC10{background-position: -61.2vh 0;}
.myCards .cardC11{background-position: -68vh 0;}
.myCards .cardC12{background-position: -74.8vh 0;}
.myCards .cardC13{background-position: -81.6vh 0;}
.myCards .cardD1{background-position: 0 -9.656vh;}
.myCards .cardD2{background-position: -6.8vh -9.656vh;}
.myCards .cardD3{background-position: -13.6vh -9.656vh;}
.myCards .cardD4{background-position: -20.4vh -9.656vh;}
.myCards .cardD5{background-position: -27.2vh -9.656vh;}
.myCards .cardD6{background-position: -34vh -9.656vh;}
.myCards .cardD7{background-position: -40.8vh -9.656vh;}
.myCards .cardD8{background-position: -47.6vh -9.656vh;}
.myCards .cardD9{background-position: -54.4vh -9.656vh;}
.myCards .cardD10{background-position: -61.2vh -9.656vh;}
.myCards .cardD11{background-position: -68vh -9.656vh;}
.myCards .cardD12{background-position: -74.8vh -9.656vh;}
.myCards .cardD13{background-position: -81.6vh -9.656vh;}
.myCards .cardE1{background-position: 0 -38.624vh;}
.myCards .cardE2{background-position: -6.8vh -38.624vh;}
.myCards .cardE3{background-position: -13.6vh -38.624vh;}
.myCards .cardE4{background-position: -20.4vh -38.624vh;}
.myCards .cardE5{background-position: -27.2vh -38.624vh;}
.myCards .cardE6{background-position: -34vh -38.624vh;}
.myCards .cardE7{background-position: -40.8vh -38.624vh;}
.myCards .cardE8{background-position: -47.6vh -38.624vh;}
.myCards .cardE9{background-position: -54.4vh -38.624vh;}
.myCards .cardE10{background-position: -61.2vh -38.624vh;}
.myCards .cardE11{background-position: -68vh -38.624vh;}
.myCards .cardE12{background-position: -74.8vh -38.624vh;}
.myCards .cardE13{background-position: -81.6vh -38.624vh;}
/*自己牌，发完之后*/
.myCards .card0{top: 0;left: 33%;margin-left: -3.4vh;}
.myCards .card1{top: 0;left: 46%;margin-left: -3.4vh;}
.myCards .card2{top: 0;left: 59%;margin-left: -3.4vh;}
.myCards .card3{top: 0;left: 72%;margin-left: -3.4vh;}
.myCards .card4{top: 0;left: 85%;margin-left: -3.4vh;}

/*自己牌，摊牌之后*/
.myCards .card00{top: 0;left: 33%;margin-left: -3.4vh;}
.myCards .card01{top: 0;left: 46%;margin-left: -3.4vh;}
.myCards .card02{top: 0;left: 59%;margin-left: -3.4vh;}
.myCards .card03{top: 0;left: 72%;margin-left: -3.4vh;}
.myCards .card04{top: 0;left: 85%;margin-left: -3.4vh;}

.cardOver1{display: none;}
.cardOver2{right: 0;}
.cardOver3{right: 0;}
.cardOver4{left: -14px;}
.cardOver5{left:0;}
.cardOver6{left:0;}

.cards3D .cards{overflow:hidden;}
.member{position: absolute;text-align: center;width: 6vh;height: 10.2vh;}
.member .background{width: 100%;position: absolute;top:0;left:0;}
.member .banker{left:-0.2vh; top: -0.2vh;width: 6.4vh; height: 6.4vh;position: absolute;}
.member .title{color: #fff;font-size: 10px;text-align: center;line-height: 16px;position: relative;margin: 0 auto;margin-top: 15%;height:16px;width: 47px;}
.member .score{color: #fff;font-size: 12px;text-align: center;line-height: 12px;position: absolute;background: #1f1732;width:66%;border-radius:7px;margin:0 auto;bottom: 11%;left:18%;}
.member .avatar{width: 100%;margin: auto; border-radius:3px; overflow: hidden; max-height: 40px; position: relative;}
.member .avatar .headImg{display: block; width: 100%;}
.member .avatar .watching{position: absolute;left:0;top:1.6vh; height: 3.2vh;max-width: 100%}

.member .bottom{position: absolute; top: 63%; left: 0;width: 100%; height: 3.6vh}
.member .bottom .bname{position: absolute; top: 1px; left: 0px;width: 100%; height: 2vh; line-height: 2vh;text-align: center;color: white;font-size: 1.5vh;}
.member .bottom .bscore{position: absolute; top: 2vh; left: 0px;width: 100%; height: 2vh; line-height: 2vh; text-align: center;color: orange;font-size: 1.6vh;}

.memberMine{position: absolute;text-align: center;width: 150px;height: 110px;}

.member .isReady{position: absolute;}
.member .isReady .ready{height: 3vh;}
.member .isReady .ready.ss{border:2px solid #3ae8ad;}


.member1{top:79vh;left:2vh;}
.member1 .isReady{top:-50px;left: -18px;width: 110px;text-align:center;}
.member1 .isReady .unready{width: 110px;}
.member1 .isReady .ready{margin-top: 20px;width:6vh;}

.member2{top:59%;right:2vh;}
.member2 .isReady{top:4vh;right: 9vh;}
.member2 .isReady .ready{width:6vh;}

.member3{top:47.5%;right:2vh;}
.member3 .isReady{top:4vh;right: 9vh;}
.member3 .isReady .ready{width:6vh;}

.member4{top:36%;right:2vh;}
.member4 .isReady{top:4vh;right: 9vh;}
.member4 .isReady .ready{width:6vh;}

.member5{top:24.5%;right:2vh;}
.member5 .isReady{top:4vh;right: 9vh;}
.member5 .isReady .ready{width:6vh;}

.member6{top:5.5%;right:7vh;}
.member6 .isReady{top:11vh;right: -0.5vh;}
.member6 .isReady .ready{width:6vh;}

.member7{top:5.5%;left:initial;right: 25%;margin-left: 0;}
.member7 .isReady{top:11vh;right: -0.5vh;}
.member7 .isReady .ready{width:6vh;}

.member8{top:5.5%;left:25%;}
.member8 .isReady{top:11vh;right: -0.5vh;}
.member8 .isReady .ready{width:6vh;}

.member9{top:5.5%;left:7vh;}
.member9 .isReady{top:11vh;right: -0.5vh;}
.member9 .isReady .ready{width:6vh;}

.member10{top:24.5%;left:2vh;}
.member10 .isReady{top:4vh;left: 9vh;}
.member10 .isReady .ready{width:6vh;}

.member11{top:36%;left:2vh;}
.member11 .isReady{top:4vh;left: 9vh;}
.member11 .isReady .ready{width:6vh;}

.member12{top:47.5%;left:2vh;}
.member12 .isReady{top:4vh;left: 9vh;}
.member12 .isReady .ready{width:6vh;}

.member13{top:59%;left:2vh;}
.member13 .isReady{top:4vh;left: 9vh;}
.member13 .isReady .ready{width:6vh;}

/* 玩家金币 */
.memberCoin{position: absolute;width: 2.5vh;height: 2.5vh; z-index: 100}
.memberCoin10{top: 82%; left: 4.5vh}
.memberCoin11{top: 82%; left: 4.5vh}
.memberCoin12{top: 82%; left: 4.5vh}
.memberCoin13{top: 82%; left: 4.5vh}
.memberCoin14{top: 82%; left: 4.5vh}
.memberCoin15{top: 82%; left: 4.5vh}
.memberCoin16{top: 82%; left: 4.5vh}
.memberCoin17{top: 82%; left: 4.5vh}

.memberCoin20{top: 62%; left: 90%}
.memberCoin21{top: 62%; left: 90%}
.memberCoin22{top: 62%; left: 90%}
.memberCoin23{top: 62%; left: 90%}
.memberCoin24{top: 62%; left: 90%}
.memberCoin25{top: 62%; left: 90%}
.memberCoin26{top: 62%; left: 90%}
.memberCoin27{top: 62%; left: 90%}

.memberCoin30{top: 50%; left: 90%}
.memberCoin31{top: 50%; left: 90%}
.memberCoin32{top: 50%; left: 90%}
.memberCoin33{top: 50%; left: 90%}
.memberCoin34{top: 50%; left: 90%}
.memberCoin35{top: 50%; left: 90%}
.memberCoin36{top: 50%; left: 90%}
.memberCoin37{top: 50%; left: 90%}

.memberCoin40{top: 39%; left: 90%}
.memberCoin41{top: 39%; left: 90%}
.memberCoin42{top: 39%; left: 90%}
.memberCoin43{top: 39%; left: 90%}
.memberCoin44{top: 39%; left: 90%}
.memberCoin45{top: 39%; left: 90%}
.memberCoin46{top: 39%; left: 90%}
.memberCoin47{top: 39%; left: 90%}

.memberCoin50{top: 27%; left: 90%}
.memberCoin51{top: 27%; left: 90%}
.memberCoin52{top: 27%; left: 90%}
.memberCoin53{top: 27%; left: 90%}
.memberCoin54{top: 27%; left: 90%}
.memberCoin55{top: 27%; left: 90%}
.memberCoin56{top: 27%; left: 90%}
.memberCoin57{top: 27%; left: 90%}

.memberCoin60{top: 9%; left: 80%}
.memberCoin61{top: 9%; left: 80%}
.memberCoin62{top: 9%; left: 80%}
.memberCoin63{top: 9%; left: 80%}
.memberCoin64{top: 9%; left: 80%}
.memberCoin65{top: 9%; left: 80%}
.memberCoin66{top: 9%; left: 80%}
.memberCoin69{top: 9%; left: 80%}
.memberCoin67{top: 9%; left: 80%}

.memberCoin70{top: 4%; left: 47%}
.memberCoin71{top: 4%; left: 47%}
.memberCoin72{top: 4%; left: 47%}
.memberCoin73{top: 4%; left: 47%}
.memberCoin74{top: 4%; left: 47%}
.memberCoin75{top: 4%; left: 47%}
.memberCoin76{top: 4%; left: 47%}
.memberCoin77{top: 4%; left: 47%}

.memberCoin80{top: 9%; left: 8vh}
.memberCoin81{top: 9%; left: 8vh}
.memberCoin82{top: 9%; left: 8vh}
.memberCoin83{top: 9%; left: 8vh}
.memberCoin84{top: 9%; left: 8vh}
.memberCoin85{top: 9%; left: 8vh}
.memberCoin86{top: 9%; left: 8vh}
.memberCoin87{top: 9%; left: 8vh}

.memberCoin90{top: 9%; left: 8vh}
.memberCoin91{top: 9%; left: 8vh}
.memberCoin92{top: 9%; left: 8vh}
.memberCoin93{top: 9%; left: 8vh}
.memberCoin94{top: 9%; left: 8vh}
.memberCoin95{top: 9%; left: 8vh}
.memberCoin96{top: 9%; left: 8vh}
.memberCoin97{top: 9%; left: 8vh}

.memberCoin100{top: 27%; left: 4.5vh}
.memberCoin101{top: 27%; left: 4.5vh}
.memberCoin102{top: 27%; left: 4.5vh}
.memberCoin103{top: 27%; left: 4.5vh}
.memberCoin104{top: 27%; left: 4.5vh}
.memberCoin105{top: 27%; left: 4.5vh}
.memberCoin106{top: 27%; left: 4.5vh}
.memberCoin107{top: 27%; left: 4.5vh}

.memberCoin110{top: 39%; left: 4.5vh}
.memberCoin111{top: 39%; left: 4.5vh}
.memberCoin112{top: 39%; left: 4.5vh}
.memberCoin113{top: 39%; left: 4.5vh}
.memberCoin114{top: 39%; left: 4.5vh}
.memberCoin115{top: 39%; left: 4.5vh}
.memberCoin116{top: 39%; left: 4.5vh}
.memberCoin117{top: 39%; left: 4.5vh}

.memberCoin120{top: 50%; left: 4.5vh}
.memberCoin121{top: 50%; left: 4.5vh}
.memberCoin122{top: 50%; left: 4.5vh}
.memberCoin123{top: 50%; left: 4.5vh}
.memberCoin124{top: 50%; left: 4.5vh}
.memberCoin125{top: 50%; left: 4.5vh}
.memberCoin126{top: 50%; left: 4.5vh}
.memberCoin127{top: 50%; left: 4.5vh}

.memberCoin130{top: 62%; left: 4.5vh}
.memberCoin131{top: 62%; left: 4.5vh}
.memberCoin132{top: 62%; left: 4.5vh}
.memberCoin133{top: 62%; left: 4.5vh}
.memberCoin134{top: 62%; left: 4.5vh}
.memberCoin135{top: 62%; left: 4.5vh}
.memberCoin136{top: 62%; left: 4.5vh}
.memberCoin137{top: 62%; left: 4.5vh}

/* 显示是否抢庄 */
.memberRobText1{position: absolute; top: 79%; left: 10.5vh; width: 5vh; height: 2.6vh;}
.memberRobText2{position: absolute; top: 60%; right: 10.5vh; width: 5vh; height: 2.6vh;}
.memberRobText3{position: absolute; top: 48%; right: 10.5vh; width: 5vh; height: 2.6vh;}
.memberRobText4{position: absolute; top: 37%; right: 10.5vh; width: 5vh; height: 2.6vh;}
.memberRobText5{position: absolute; top: 25%; right: 10.5vh; width: 5vh; height: 2.6vh;}
.memberRobText6{position: absolute; top: 17%; right: 12vh; width: 5vh; height: 2.6vh;margin-right: -5vh}
.memberRobText7{position: absolute; top: 13%; left: 50%; width: 5vh; height: 2.6vh;margin-left: -2.5vh}
.memberRobText8{position: absolute; top: 17%; left: 12vh; width: 5vh; height: 2.6vh;margin-left: -5vh}
.memberRobText9{position: absolute; top: 25%; left: 10.5vh; width: 5vh; height: 2.6vh;}
.memberRobText10{position: absolute; top: 37%; left: 10.5vh; width: 5vh; height: 2.6vh;}
.memberRobText11{position: absolute; top: 48%; left: 10.5vh; width: 5vh; height: 2.6vh;}
.memberRobText12{position: absolute; top: 60%; left: 10.5vh; width: 5vh; height: 2.6vh;}

.memberGoText1{position: absolute; top: 79%; left: 10.5vh; width: 5vh; height: 2.6vh;}
.memberGoText2{position: absolute; top: 60%; right: 10.5vh; width: 5vh; height: 2.6vh;}
.memberGoText3{position: absolute; top: 44%; right: 10.5vh; width: 5vh; height: 2.6vh;}
.memberGoText4{position: absolute; top: 28%; right: 10.5vh; width: 5vh; height: 2.6vh;}
.memberGoText5{position: absolute; top: 17%; right: 19vh; width: 5vh; height: 2.6vh;margin-right: -5vh}
.memberGoText6{position: absolute; top: 17%; left: 19vh; width: 5vh; height: 2.6vh;margin-left: -5vh}
.memberGoText7{position: absolute; top: 28%; left: 10.5vh; width: 5vh; height: 2.6vh;}
.memberGoText8{position: absolute; top: 44%; left: 10.5vh; width: 5vh; height: 2.6vh;}
.memberGoText9{position: absolute; top: 60%; left: 10.5vh; width: 5vh; height: 2.6vh;}
.memberGoText10{position: absolute; top: 60%; left: 10.5vh; width: 5vh; height: 2.6vh;}
.memberGoText11{position: absolute; top: 60%; left: 10.5vh; width: 5vh; height: 2.6vh;}
.memberGoText12{position: absolute; top: 60%; left: 10.5vh; width: 5vh; height: 2.6vh;}



.memberFreeRobText1{position: absolute; top: 79%; left: 60%; width: 5vh; height: 2.6vh;}
.memberFreeRobText2{position: absolute; top: 58.5%; right: 9.6vh; width: 5vh; height: 2.6vh;}
.memberFreeRobText3{position: absolute; top: 47%; right: 9.6vh; width: 5vh; height: 2.6vh;}
.memberFreeRobText4{position: absolute; top: 36%; right: 9.6vh; width: 5vh; height: 2.6vh;}
.memberFreeRobText5{position: absolute; top: 24.5%; right: 9.6vh; width: 5vh; height: 2.6vh;}
.memberFreeRobText6{position: absolute; top: 12.5%; right: 14vh; width: 5vh; height: 2.6vh;}
.memberFreeRobText7{position: absolute; top: 8%; left: 50%; width: 5vh; height: 2.6vh;margin-left: 3.5vh;}
.memberFreeRobText8{position: absolute; top: 12.5%; left: 12.6vh; width: 5vh; height: 2.6vh;}
.memberFreeRobText9{position: absolute; top: 24.5%; left: 8vh; width: 5vh; height: 2.6vh;}
.memberFreeRobText10{position: absolute; top: 36%; left: 8vh; width: 5vh; height: 2.6vh;}
.memberFreeRobText11{position: absolute; top: 47%; left: 8vh; width: 5vh; height: 2.6vh;}
.memberFreeRobText12{position: absolute; top: 58.5%; left: 8vh; width: 5vh; height: 2.6vh;}

.memberGoTimesText1{position: absolute; top: 79%; left: 10.5vh; width: 2.6vh; height: 2.6vh;}
.memberGoTimesText2{position: absolute; top: 58.5%; right: 8vh; width: 2.6vh; height: 2.6vh;}
.memberGoTimesText3{position: absolute; top: 47%; right: 8vh; width: 2.6vh; height: 2.6vh;}
.memberGoTimesText4{position: absolute; top: 36%; right: 8vh; width: 2.6vh; height: 2.6vh;}
.memberGoTimesText5{position: absolute; top: 24.5%; right: 8vh; width: 2.6vh; height: 2.6vh;}
.memberGoTimesText6{position: absolute; top: 12.5%; right: 12.5vh; width: 2.6vh; height: 2.6vh;}
.memberGoTimesText7{position: absolute; top: 8%; left: 50%; width: 2.6vh; height: 2.6vh;margin-left: 9vh;}
.memberGoTimesText8{position: absolute; top: 12.5%; left: 17vh; width: 2.6vh; height: 2.6vh;}
.memberGoTimesText9{position: absolute; top: 24.5%; left: 12.2vh; width: 2.6vh; height: 2.6vh;}
.memberGoTimesText10{position: absolute; top: 36%; left: 12.2vh; width: 2.6vh; height: 2.6vh;}
.memberGoTimesText11{position: absolute; top: 47%; left: 12.2vh; width: 2.6vh; height: 2.6vh;}
.memberGoTimesText12{position: absolute; top: 58.5%; left: 12.2vh; width: 2.6vh; height: 2.6vh;}

/* 投注倍数 */
.memberTimesText1{position: absolute; top: 79%; left: 10.5vh; width: 2.6vh; height: 2.6vh;}
.memberTimesText2{position: absolute; top: 58.5%; right: 9vh; width: 2.6vh; height: 2.6vh;}
.memberTimesText3{position: absolute; top: 47%; right: 9vh; width: 2.6vh; height: 2.6vh;}
.memberTimesText4{position: absolute; top: 36%; right: 9vh; width: 2.6vh; height: 2.6vh;}
.memberTimesText5{position: absolute; top: 24.5%; right: 9vh; width: 2.6vh; height: 2.6vh;}
.memberTimesText6{position: absolute; top: 12.5%; right: 13.5vh; width: 2.6vh; height: 2.6vh;}
.memberTimesText7{position: absolute; top: 8%; left: 50%;margin-left: 3vh; width: 2.6vh; height: 2.6vh;}
.memberTimesText8{position: absolute; top: 12.5%; left: 13.5vh; width: 2.6vh; height: 2.6vh;}
.memberTimesText9{position: absolute; top: 24.5%; left: 9vh; width: 2.6vh; height: 2.6vh;}
.memberTimesText10{position: absolute; top: 36%; left: 9vh; width: 2.6vh; height: 2.6vh;}
.memberTimesText11{position: absolute; top: 47%; left: 9vh; width: 2.6vh; height: 2.6vh;}
.memberTimesText12{position: absolute; top: 58.5%; left: 9vh; width: 2.6vh; height: 2.6vh;}

/* 显示牛几图片 */
.memberBull1{position: absolute;top: 72%; left: 50%; width: 16.57vh; height: 6vh; z-index: 90;margin-left: -8.285vh}
.memberBull2{position: absolute;top: 65%; right: 10vh; width: 12.45vh; height: 4.5vh; z-index: 90;}
.memberBull3{position: absolute;top: 54%; right: 10vh; width: 12.45vh; height: 4.5vh; z-index: 90;}
.memberBull4{position: absolute;top: 43%; right: 10vh; width: 12.45vh; height: 4.5vh; z-index: 90;}
.memberBull5{position: absolute;top: 31.5%; right: 10vh; width: 12.45vh; height: 4.5vh; z-index: 90;}
.memberBull6{position: absolute;top: 19%; right: 4vh; width: 12.45vh; height: 4.5vh; z-index: 90;}
.memberBull7{position: absolute;top: 16%; left: 50%;margin-left:-6.2vh ;width: 12.45vh; height: 4.5vh; z-index: 90;}
.memberBull8{position: absolute;top: 19%; left: 4vh; width: 12.45vh; height: 4.5vh; z-index: 90;}
.memberBull9{position: absolute;top: 31.5%; left: 10vh; width: 12.45vh; height: 4.5vh; z-index: 90;}
.memberBull10{position: absolute;top: 43%; left: 10vh; width: 12.45vh; height: 4.5vh; z-index: 90;}
.memberBull11{position: absolute;top: 54%; left: 10vh; width: 12.45vh; height: 4.5vh; z-index: 90;}
.memberBull12{position: absolute;top: 65%; left: 10vh; width: 12.45vh; height: 4.5vh; z-index: 90;}

/* 一局完毕显示得分
.memberScoreText1{position: absolute;top: 67%; left: 43%; width: 150px; height: 40px; z-index: 99;} */

.memberScoreText1{position: absolute;top: 73.5%; left: 0; width: 11vh; height: 4vh; z-index: 99;}
.memberScoreText2{position: absolute;top: 63%; right: 10vh; text-align: right; width: 11vh; height: 4vh; z-index: 99;}
.memberScoreText3{position: absolute;top: 51%; right: 10vh; text-align: right; width: 11vh; height: 4vh; z-index: 99;}
.memberScoreText4{position: absolute;top: 40%; right:10vh; width: 11vh; height: 4vh; z-index: 99;}
.memberScoreText5{position: absolute;top: 28.5%; right: 10vh; width: 11vh; height: 4vh; z-index: 99;}
.memberScoreText6{position: absolute;top: 17%; right: 8vh; width: 11vh; height: 4vh; z-index: 99;}
.memberScoreText7{position: absolute;top: 14%; left: 50%;margin-left: -5.5vh; width: 11vh; height: 4vh; z-index: 99;}
.memberScoreText8{position: absolute;top: 17%; left: 8vh; width: 11vh; height: 4vh; z-index: 99;}
.memberScoreText9{position: absolute;top: 28.5%; left: 10vh; width: 11vh; height: 4vh; z-index: 99;}
.memberScoreText10{position: absolute;top: 40%; left: 10vh; width: 11vh; height: 4vh; z-index: 99;}
.memberScoreText11{position: absolute;top: 51%; left: 10vh; width: 11vh; height: 4vh; z-index: 99;}
.memberScoreText12{position: absolute;top: 63%; left: 10vh; width: 11vh; height: 4vh; z-index: 99;}

.quitBack{position: absolute;width: 6vh;height: 6vh;border-radius:4px;top:0px;left:0;background:#000;opacity:0.45;}

.member1 .quitBack{position: absolute;width: 58px;height: 88px;border-radius:4px;top:12px;left:8px;background:#000;opacity:0.45;}